.form-card {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(117, 115, 115, 0.1);
    background-color: #e1a78c;
}

.form-card h2 {
    text-align: center;
    color:rgb(69, 66, 66);
}

.form-section {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #d2d7eb;
    border-radius: 5px;
}

.form-section label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-section input[type="text"],
.form-section select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-section input[type="radio"],
.form-section input[type="checkbox"] {
    margin-right: 5px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2e2f31;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: green;
}
