.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #7ccce4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    transition: transform 0.3s;
}

.card-content h2 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

.card-content span {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

.card-content span b {
    color: #333;
}
